{% extends "layout.html" %}
{% block body %}

<style type="text/css">
	h1{
		color: green;
	}
	p{
		color: black;
	}
</style>

<div class="jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">A library is a curated collection of sources of information and similar resources, selected by experts and made accessible to a defined community for reference or borrowing</p>
  <hr class="my-4">
  <p>A project for Library Management System </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://aitpune.com" role="button">Learn more</a>
  </p>
</div>
{% endblock %}
