{% extends "layout.html" %}
{% block body %}

<div class="signup-form">

     <form action="/login">
   <input type="submit" class="btn btn-success btn-block btn-lg" value="Login as Student">
    </form>
    <form action="/admin">
    <input type="submit" class="btn btn-success btn-block btn-lg" value="Login as Admin">
    </form>

    <form action="/registers">
    <input type="submit" class="btn btn-success btn-block btn-lg" value="New Registration">
    </form>

</div>


{% endblock %}
