{% extends "layout.html"%}
{% block body %}

<style type="text/css">
.signup__container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: remy(800px);
  height: remy(480px);
  border-radius: remy(3px);
  box-shadow: 0px remy(3px) remy(7px) rgba(0,0,0,.25);
}
.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.76);
}
.container__child {
  width: 50%;
  height: 100%;
  color: #fff;
}
.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(http://ultraimg.com/images/spectre-login.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.signup__form {
  padding: 2.5rem;
  background: #fafafa;
}
label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc;
}
.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  &:focus {border-color: #111;}
}
[type="text"] {color: #111;}
[type="password"] {color: #111;}
.btn--form {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: remy(35px);
  &:focus,
  &:hover {background: lighten(#111, 13%);}
}
.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
  &:focus,
  &:hover {color: darken(#999, 13%);}
}
</style>

<!-- <div class="container">
    <h1>Register</h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="name" required>
        </div>
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="username" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="password" required>
        </div>
        <div class="form-group">
            <input type="password" name="confirm" class="form-control" placeholder="confirm password" required>
        </div>
        <button class="btn btn-primary" type="submit" >submit</button>
    </form>
 -->


<div class="signup__container">
    <div class="container__child signup__form">
    <form action="" method="POST" >
      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" name="name" class="form-control" placeholder="name" required/>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="james.bond" required />
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
      </div>
      <div class="form-group">
        <label for="passwordRepeat">Confirm Password</label>
        <input type="password" name="confirm" class="form-control" placeholder="confirm password" required />
      </div>
      <div class="m-t-lg">
         <button class="btn btn--form" type="submit" >submit</button>
      </div>
    </form>  
  </div>
</div>









 {% endblock %}
